.wd-course-cards > a > div {
  width: 270px;
  height: 300px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.wd-course-card {
  margin-left: 20px;
  margin-right: 20px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  color: rgb(26, 127, 147);
  height: 43px;
}
