.wd-kanbas-navigation {
  background-color: black;
  list-style: none;
  padding: 0px;
  width: 80px;
  margin: 0px;
  min-height: 100%;
}

.wd-kanbas-navigation li {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 0.8em;
  text-align: center;
}

.wd-kanbas-navigation li.wd-active {
  background-color: white;
}

.wd-kanbas-navigation li.wd-active a {
  color: red;
}

.wd-kanbas-navigation a {
  color: white;
  text-decoration: none;
}

.wd-kanbas-navigation a i {
  color: red;
  font-size: 2em;
  margin-bottom: 5px;
}

.wd-course-navigation {
  background-color: white;
  list-style: none;
  padding: 0px;
  width: 190px;
  margin: 0px;
  margin-left: 20px;
}

.wd-course-navigation ul {
  padding: 15px;
  list-style: none;
  margin: 0px;
}

.wd-course-navigation ul li a {
  text-decoration: none;
  color: red;
}

.wd-course-navigation ul li {
  margin: 8px;
  margin-left: 0px;
}

.wd-course-navigation ul li:hover{
  text-decoration: underline;
  color:red;
}

.wd-course-navigation ul li a:hover{
  color: red;
}

.wd-course-navigation li.wd-active {
  border-left: 2px solid black;
}

.wd-course-navigation li.wd-active a {
  color: black;
  padding-left: 8px;
}

.wd-hamburger-button {
  background-color: #fff;
  border: none;
  width: 36px;
}

#wd-bread {
  width: 100%;
  height: 48px;
  background-color: white;
  margin-left: 15px;
  margin-top: 16px;
}

.breadcrumb-item > a {
  color: red;
  text-decoration: none;
}

.wd-status-bar-buttons {
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}
